epc-partner-portal/epc-portal-react/power-automate-export-fixed/Microsoft.Flow/flows/45991de2-99f2-422e-864f-efdf8db8cb93/definition.json
{
  "name": "a795ca0b-3293-4ae7-8f80-5e00148594cd",
  "id": "/providers/Microsoft.Flow/flows/a795ca0b-3293-4ae7-8f80-5e00148594cd",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "EPC Application Submission Processor",
    "definition": {
      "metadata": {
        "workflowEntityId": null,
        "processAdvisorMetadata": null,
        "flowChargedByPaygo": null,
        "flowclientsuspensionreason": "None",
        "flowclientsuspensiontime": null,
        "flowclientsuspensionreasondetails": null,
        "creator": {
          "id": "e82d7ff1-337a-4e63-a34c-9de13137248c",
          "type": "User",
          "tenantId": "dd0eeaf2-2c36-4709-9554-6e2b2639c3d1"
        },
        "provisioningMethod": "FromDefinition",
        "failureAlertSubscription": true,
        "clientLastModifiedTime": "2025-09-10T11:35:56.652252Z",
        "connectionKeySavedTimeKey": "2025-09-10T11:35:56.652252Z",
        "creationSource": "Portal",
        "modifiedSources": "Portal"
      },
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {},
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "invitationCode": {
                  "type": "string"
                },
                "companyName": {
                  "type": "string"
                },
                "registrationNumber": {
                  "type": "string"
                },
                "contactName": {
                  "type": "string"
                },
                "contactTitle": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "address": {
                  "type": "string"
                },
                "services": {
                  "type": "array"
                },
                "yearsExperience": {
                  "type": "number"
                },
                "teamSize": {
                  "type": "number"
                },
                "coverage": {
                  "type": "string"
                },
                "timestamp": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                },
                "dataProtectionIT": {
                  "properties": {
                    "gdprPolicyDate": {
                      "type": "string"
                    },
                    "cyberIncident": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "agreement": {
                  "properties": {
                    "agreeToTerms": {
                      "type": "boolean"
                    },
                    "marketingConsent": {
                      "type": "boolean"
                    },
                    "receivedContractPack": {
                      "type": "boolean"
                    },
                    "agreeToCodes": {
                      "type": "boolean"
                    },
                    "dataProcessingConsent": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                },
                "servicesExperience": {
                  "properties": {
                    "averageProjectsPerMonth": {
                      "type": "number"
                    },
                    "specializations": {
                      "type": "string"
                    },
                    "servicesProvided": {
                      "type": "array"
                    },
                    "softwareTools": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "submission": {
                  "properties": {
                    "additionalInformation": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "referenceNumber": {
                  "type": "string"
                },
                "legalCompliance": {
                  "properties": {
                    "pendingProsecutions": {
                      "type": "string"
                    },
                    "contractsReviewed": {
                      "type": "boolean"
                    },
                    "legalClarifications": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "companyInfo": {
                  "properties": {
                    "companyName": {
                      "type": "string"
                    },
                    "parentCompany": {
                      "type": "string"
                    },
                    "headOfficeAddress": {
                      "type": "string"
                    },
                    "registrationNumber": {
                      "type": "string"
                    },
                    "vatNumber": {
                      "type": "string"
                    },
                    "tradingName": {
                      "type": "string"
                    },
                    "yearsTrading": {
                      "type": "number"
                    },
                    "registeredAddress": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "primaryContact": {
                  "properties": {
                    "email": {
                      "type": "string"
                    },
                    "jobTitle": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "fullName": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "deliveryCapability": {
                  "properties": {
                    "resourcingApproach": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "rolesCapabilities": {
                  "properties": {
                    "principalDesigner": {
                      "type": "boolean"
                    },
                    "subcontractPercentage": {
                      "type": "number"
                    },
                    "internalStaffPercentage": {
                      "type": "number"
                    },
                    "principalContractor": {
                      "type": "boolean"
                    },
                    "pdScaleLastYear": {
                      "type": "string"
                    },
                    "pcScaleLastYear": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "policies": {
                  "properties": {
                    "envPolicyDate": {
                      "type": "string"
                    },
                    "msPolicyDate": {
                      "type": "string"
                    },
                    "rightToWorkMethod": {
                      "type": "string"
                    },
                    "hsPolicyDate": {
                      "type": "string"
                    },
                    "mosPolicyDate": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "certifications": {
                  "properties": {
                    "isoCertifications": {
                      "type": "array"
                    },
                    "niceicContractor": {
                      "type": "boolean"
                    },
                    "constructionSchemes": {
                      "type": "array"
                    },
                    "mcsApproved": {
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                },
                "projectReferences": {
                  "properties": {
                    "clientReference": {
                      "type": "string"
                    },
                    "nationwideCoverage": {
                      "type": "boolean"
                    },
                    "regionsCovered": {
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                "healthSafety": {
                  "properties": {
                    "riddorCount": {
                      "type": "number"
                    },
                    "hseNotices": {
                      "type": "string"
                    },
                    "pdQualifications": {
                      "type": "string"
                    },
                    "qualityEvidence": {
                      "type": "string"
                    },
                    "hsCdmEvidence": {
                      "type": "string"
                    },
                    "namedPrincipalDesigner": {
                      "type": "string"
                    },
                    "riddorDetails": {
                      "type": "string"
                    },
                    "nearMissProcedure": {
                      "type": "string"
                    },
                    "trainingRecords": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "insurance": {
                  "properties": {
                    "pplIndemnityClause": {
                      "type": "boolean"
                    },
                    "publicLiabilityInsurance": {
                      "type": "boolean"
                    },
                    "employersLiabilityInsurance": {
                      "type": "boolean"
                    },
                    "professionalIndemnityInsurance": {
                      "type": "boolean"
                    },
                    "elExpiryDate": {
                      "type": "string"
                    },
                    "piExpiryDate": {
                      "type": "string"
                    },
                    "pplExpiryDate": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "Get_items": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://saberrenewables.sharepoint.com/sites/SaberEPCPartners",
              "table": "ae795135-d308-40d0-a2f2-90d66dbf7e2c",
              "$filter": "Code eq '@{triggerBody()?['invitationCode']}'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Create_item": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://saberrenewables.sharepoint.com/sites/SaberEPCPartners",
                  "table": "67c6199a-fdfc-4c17-a8e5-3914130cfabd",
                  "item/Title": "@triggerBody()?['companyName']",
                  "item/CompanyName": "@triggerBody()?['companyName']",
                  "item/RegistrationNumber": "@triggerBody()?['registrationNumber']",
                  "item/ContactName": "@triggerBody()?['contactName']",
                  "item/ContactTitle": "@triggerBody()?['contactTitle']",
                  "item/Email": "@triggerBody()?['email']",
                  "item/Phone": "@triggerBody()?['phone']",
                  "item/Address": "@triggerBody()?['address']",
                  "item/YearsExperience": "@triggerBody()?['yearsExperience']",
                  "item/TeamSize": "@triggerBody()?['teamSize']",
                  "item/Coverage": "@triggerBody()?['coverage']",
                  "item/InvitationCode": "@triggerBody()?['invitationCode']",
                  "item/SubmissionDate": "@triggerBody()?['timestamp']",
                  "item/Status/Value": "New",
                  "item/SubmissionHandled": false,
                  "item/ActsAsPrincipalContractor": "@triggerBody()?['rolesCapabilities']?['principalContractor']",
                  "item/TrainingRecords_Summary": "@triggerBody()?['healthSafety']?['trainingRecords']",
                  "item/Policy_Env_DateSigned": "@if(empty(triggerBody()?['policies']?['envPolicyDate']), null, formatDateTime(triggerBody()?['policies']?['envPolicyDate'], 'yyyy-MM-ddTHH:mm:ssZ'))",
                  "item/NearMiss_Procedure": "@triggerBody()?['healthSafety']?['nearMissProcedure']",
                  "item/LabourMix_SubcontractPct": "@triggerBody()?['rolesCapabilities']?['subcontractPercentage']",
                  "item/HeadOffice": "@triggerBody()?['companyInfo']?['headOfficeAddress']",
                  "item/HSE_ImprovementOrProhibition_Las0": "@triggerBody()?['healthSafety']?['hseNotices']",
                  "item/Policy_HS_DateSigned": "@if(empty(triggerBody()?['policies']?['hsPolicyDate']), null, formatDateTime(triggerBody()?['policies']?['hsPolicyDate'], 'yyyy-MM-ddTHH:mm:ssZ'))",
                  "item/RegisteredOffice": "@coalesce(triggerBody()?['companyInfo']?['registeredAddress'], triggerBody()?['address'])",
                  "item/ParentCompany": "@triggerBody()?['companyInfo']?['parentCompany']",
                  "item/Contracts_ReviewedBySignatory": "@triggerBody()?['legalCompliance']?['contractsReviewed']",
                  "item/Willing_To_WorkToSaberTerms": "@triggerBody()?['agreement']?['agreeToTerms']",
                  "item/Named_PrincipalDesigner": "@triggerBody()?['healthSafety']?['namedPrincipalDesigner']",
                  "item/ProjectsPerMonth": "@triggerBody()?['servicesExperience']?['averageProjectsPerMonth']",
                  "item/PD_Qualifications": "@triggerBody()?['healthSafety']?['pdQualifications']",
                  "item/PrincipalDesigner_LastYearScale": "@triggerBody()?['rolesCapabilities']?['pdScaleLastYear']",
                  "item/EmployersLiability_Expiry": "@if(empty(triggerBody()?['insurance']?['elExpiryDate']), null, formatDateTime(triggerBody()?['insurance']?['elExpiryDate'], 'yyyy-MM-ddTHH:mm:ssZ'))",
                  "item/PublicProductLiability_Indemnity0": "@triggerBody()?['insurance']?['pplIndemnityClause']",
                  "item/YearsTrading": "@triggerBody()?['companyInfo']?['yearsTrading']",
                  "item/TradingName": "@triggerBody()?['companyInfo']?['tradingName']",
                  "item/MarketingConsent": "@triggerBody()?['agreement']?['marketingConsent']",
                  "item/Received_ContractOverviewPack": "@triggerBody()?['agreement']?['receivedContractPack']",
                  "item/AdditionalInfo": "@triggerBody()?['submission']?['additionalInformation']",
                  "item/PrimaryContactPhone": "@coalesce(triggerBody()?['primaryContact']?['phone'], triggerBody()?['phone'])",
                  "item/VATNumber": "@triggerBody()?['companyInfo']?['vatNumber']",
                  "item/PrimaryContactEmail": "@coalesce(triggerBody()?['primaryContact']?['email'], triggerBody()?['email'])",
                  "item/NICEIC_CPS": "@triggerBody()?['certifications']?['niceicContractor']",
                  "item/DataProcessingConsent": "@triggerBody()?['agreement']?['dataProcessingConsent']",
                  "item/Policy_MS_DateSigned": "@if(empty(triggerBody()?['policies']?['msPolicyDate']), null, formatDateTime(triggerBody()?['policies']?['msPolicyDate'], 'yyyy-MM-ddTHH:mm:ssZ'))",
                  "item/Coverage_Nationwide": "@triggerBody()?['projectReferences']?['nationwideCoverage']",
                  "item/ProfIndemnity_Present": "@triggerBody()?['insurance']?['professionalIndemnityInsurance']",
                  "item/CyberIncident_Last3Y": "@triggerBody()?['dataProtectionIT']?['cyberIncident']",
                  "item/PrincipalContractor_LastYearScal0": "@triggerBody()?['rolesCapabilities']?['pcScaleLastYear']",
                  "item/Client_Reference": "@triggerBody()?['projectReferences']?['clientReference']",
                  "item/MCS_Approved": "@triggerBody()?['certifications']?['mcsApproved']",
                  "item/ReferenceNumber": "@coalesce(triggerBody()?['referenceNumber'], concat('EPC-', utcNow('yyyyMMddHHmmss')))",
                  "item/Quality_Procedure_Evidence": "@triggerBody()?['healthSafety']?['qualityEvidence']",
                  "item/ProfIndemnity_Expiry": "@if(empty(triggerBody()?['insurance']?['piExpiryDate']), null, formatDateTime(triggerBody()?['insurance']?['piExpiryDate'], 'yyyy-MM-ddTHH:mm:ssZ'))",
                  "item/ActsAsPrincipalDesigner": "@triggerBody()?['rolesCapabilities']?['principalDesigner']",
                  "item/PublicProductLiability_Expiry": "@if(empty(triggerBody()?['insurance']?['pplExpiryDate']), null, formatDateTime(triggerBody()?['insurance']?['pplExpiryDate'], 'yyyy-MM-ddTHH:mm:ssZ'))",
                  "item/GDPRPolicy_DateSigned": "@if(empty(triggerBody()?['dataProtectionIT']?['gdprPolicyDate']), null, formatDateTime(triggerBody()?['dataProtectionIT']?['gdprPolicyDate'], 'yyyy-MM-ddTHH:mm:ssZ'))",
                  "item/Policy_MOS_DateSigned": "@if(empty(triggerBody()?['policies']?['mosPolicyDate']), null, formatDateTime(triggerBody()?['policies']?['mosPolicyDate'], 'yyyy-MM-ddTHH:mm:ssZ'))",
                  "item/PrimaryContactName": "@coalesce(triggerBody()?['primaryContact']?['fullName'], triggerBody()?['contactName'])",
                  "item/RIDDOR_Incidents_Last3Y_Count": "@triggerBody()?['healthSafety']?['riddorCount']",
                  "item/AgreeToCodes": "@triggerBody()?['agreement']?['agreeToCodes']",
                  "item/EmployersLiability_Present": "@triggerBody()?['insurance']?['employersLiabilityInsurance']",
                  "item/CompanyRegNo": "@coalesce(triggerBody()?['companyInfo']?['registrationNumber'], triggerBody()?['registrationNumber'])",
                  "item/SoftwareUsed": "@triggerBody()?['servicesExperience']?['softwareTools']",
                  "item/Legal_Clarifications": "@triggerBody()?['legalCompliance']?['legalClarifications']",
                  "item/RIDDOR_Incidents_Last3Y_Details": "@triggerBody()?['healthSafety']?['riddorDetails']",
                  "item/Resources_PerProject": "@triggerBody()?['deliveryCapability']?['resourcingApproach']",
                  "item/PublicProductLiability_Present": "@triggerBody()?['insurance']?['publicLiabilityInsurance']",
                  "item/PendingProsecutions_Details": "@triggerBody()?['legalCompliance']?['pendingProsecutions']",
                  "item/LabourMix_InternalPct": "@triggerBody()?['rolesCapabilities']?['internalStaffPercentage']",
                  "item/PrimaryContactTitle": "@coalesce(triggerBody()?['primaryContact']?['jobTitle'], triggerBody()?['contactTitle'])",
                  "item/Specialisations": "@triggerBody()?['servicesExperience']?['specializations']",
                  "item/RightToWork_Monitoring_Method": "@triggerBody()?['policies']?['rightToWorkMethod']",
                  "item/HSE_CDM_Management_Evidence": "@triggerBody()?['healthSafety']?['hsCdmEvidence']",
                  "item/SubmissionStatus": "Submitted"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PostItem"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_item": {
              "runAfter": {
                "Create_item": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://saberrenewables.sharepoint.com/sites/SaberEPCPartners",
                  "table": "ae795135-d308-40d0-a2f2-90d66dbf7e2c",
                  "id": "@first(body('Get_items')?['value'])?['ID']",
                  "item/Title": "@first(body('Get_items')?['value'])?['Title']",
                  "item/CompanyName": "@triggerBody()?['companyName']",
                  "item/ContactEmail": "@triggerBody()?['email']",
                  "item/Code": "@triggerBody()?['invitationCode']",
                  "item/InvitationSent": false,
                  "item/Used": true,
                  "item/UsedBy": "@triggerBody()?['email']",
                  "item/UsedDate": "@utcNow()"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchItem"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Response": {
              "runAfter": {
                "Update_item": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "success": true,
                  "message": "Application submitted successfully",
                  "referenceNumber": "@{body('Create_item')?['ID']}"
                }
              }
            },
            "Send_an_email_(V2)": {
              "runAfter": {
                "Send_an_email_(V2)_1": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/To": "SysAdmin@saberrenewables.com;Jess@saberrenewables.com;Rob@saberrenewables.com;gerry@saberrenewables.com",
                  "emailMessage/Subject": "New EPC Application - @{coalesce(triggerBody()?['companyInfo']?['companyName'], triggerBody()?['companyName'])}",
                  "emailMessage/Body": "<h2>New EPC Application Received</h2>\n<table border=\"1\" style=\"border-collapse: collapse; width: 100%;\">\n<tbody>\n<tr><td><strong>Company</strong></td><td>@{coalesce(triggerBody()?['companyInfo']?['companyName'], triggerBody()?['companyName'])}</td></tr>\n<tr><td><strong>Trading Name</strong></td><td>@{triggerBody()?['companyInfo']?['tradingName']}</td></tr>\n<tr><td><strong>Contact</strong></td><td>@{coalesce(triggerBody()?['primaryContact']?['fullName'], triggerBody()?['contactName'])}</td></tr>\n<tr><td><strong>Email</strong></td><td>@{coalesce(triggerBody()?['primaryContact']?['email'], triggerBody()?['email'])}</td></tr>\n<tr><td><strong>Phone</strong></td><td>@{coalesce(triggerBody()?['primaryContact']?['phone'], triggerBody()?['phone'])}</td></tr>\n<tr><td><strong>Registration No</strong></td><td>@{coalesce(triggerBody()?['companyInfo']?['registrationNumber'], triggerBody()?['registrationNumber'])}</td></tr>\n<tr><td><strong>SharePoint ID</strong></td><td>@{body('Create_item')?['ID']}</td></tr>\n<tr><td><strong>Code Used</strong></td><td>@{triggerBody()?['invitationCode']}</td></tr>\n</tbody>\n</table>\n\n<h3>Extended Form Data Available</h3>\n<ul>\n<li><strong>Principal Contractor:</strong> @{triggerBody()?['rolesCapabilities']?['principalContractor']}</li>\n<li><strong>Principal Designer:</strong> @{triggerBody()?['rolesCapabilities']?['principalDesigner']}</li>\n<li><strong>Specializations:</strong> @{triggerBody()?['servicesExperience']?['specializations']}</li>\n<li><strong>Insurance Present:</strong> PPL: @{triggerBody()?['insurance']?['publicLiabilityInsurance']}, EL: @{triggerBody()?['insurance']?['employersLiabilityInsurance']}, PI: @{triggerBody()?['insurance']?['professionalIndemnityInsurance']}</li>\n<li><strong>Nationwide Coverage:</strong> @{triggerBody()?['projectReferences']?['nationwideCoverage']}</li>\n<li><strong>Agreement Status:</strong> Terms: @{triggerBody()?['agreement']?['agreeToTerms']}, Codes: @{triggerBody()?['agreement']?['agreeToCodes']}, GDPR: @{triggerBody()?['agreement']?['dataProcessingConsent']}</li>\n</ul>\n\n<p><a href=\"https://saberrenewables.sharepoint.com/sites/SaberEPCPartners/Lists/EPC%20Onboarding\">View in SharePoint</a></p>",
                  "emailMessage/Importance": "Normal"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_an_email_(V2)_1": {
              "runAfter": {
                "Response": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/To": "@triggerBody()?['email']",
                  "emailMessage/Subject": "Application Received - @{coalesce(triggerBody()?['companyInfo']?['companyName'], triggerBody()?['companyName'])}",
                  "emailMessage/Body": "<h2>Thank you for your application!</h2>\n<p>Dear @{coalesce(triggerBody()?['primaryContact']?['fullName'], triggerBody()?['contactName'])},</p>\n<p>We have received your application to join the Saber Renewables EPC Partner Network.</p>\n\n<h3>Application Details:</h3>\n<ul>\n<li><strong>Company:</strong> @{coalesce(triggerBody()?['companyInfo']?['companyName'], triggerBody()?['companyName'])}</li>\n<li><strong>Reference:</strong> EPC-@{body('Create_item')?['ID']}</li>\n<li><strong>Submitted:</strong> @{utcNow()}</li>\n<li><strong>Contact:</strong> @{coalesce(triggerBody()?['primaryContact']?['fullName'], triggerBody()?['contactName'])}</li>\n<li><strong>Registration No:</strong> @{coalesce(triggerBody()?['companyInfo']?['registrationNumber'], triggerBody()?['registrationNumber'])}</li>\n</ul>\n\n<h3>What's Next?</h3>\n<p>Our technical team will review your application and supporting documentation within 5 business days. This includes:</p>\n<ul>\n<li>✅ Company registration and compliance verification</li>\n<li>✅ Certification and accreditation review</li>\n<li>✅ Insurance policy validation</li>\n<li>✅ Health & safety documentation assessment</li>\n<li>✅ Capability and experience evaluation</li>\n</ul>\n\n<p>You will receive an email confirmation once your application has been approved and you're added to our active partner network.</p>\n\n<p>If you have any questions, please contact our Partner Team at <a href=\"mailto:partners@saberrenewables.com\">partners@saberrenewables.com</a></p>\n\n<p>Kind regards,<br><br>Saber Renewables Partner Team<br><em>Infinite Power In Partnership</em></p>",
                  "emailMessage/Importance": "Normal"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Response_1": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 400,
                  "body": {
                    "success": false,
                    "message": "Invalid or expired invitation code"
                  }
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(body('Get_items')?['value'])",
                  0
                ]
              }
            ]
          },
          "type": "If"
        }
      },
      "description": ""
    },
    "connectionReferences": {
      "shared_sharepointonline": {
        "connectionName": "shared-sharepointonl-038b749e-d3fc-4c29-b1a7-dcbd63e9350a",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
        "tier": "NotSpecified",
        "apiName": "sharepointonline",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      },
      "shared_office365": {
        "connectionName": "shared-office365-4149f3cb-f5ed-4b42-9670-07a0ec993e6b",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_office365",
        "tier": "NotSpecified",
        "apiName": "office365",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      }
    },
    "flowFailureAlertSubscribed": false,
    "isManaged": false
  }
}
