epc-partner-portal/epc-portal-react/power-automate-export-flat/Microsoft.Flow/flows/45991de2-99f2-422e-864f-efdf8db8cb93/definition.json
{
  "name": "a795ca0b-3293-4ae7-8f80-5e00148594cd",
  "id": "/providers/Microsoft.Flow/flows/a795ca0b-3293-4ae7-8f80-5e00148594cd",
  "type": "Microsoft.Flow/flows",
  "properties": {
    "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
    "displayName": "EPC Application Submission Processor",
    "definition": {
      "metadata": {
        "workflowEntityId": null,
        "processAdvisorMetadata": null,
        "flowChargedByPaygo": null,
        "flowclientsuspensionreason": "None",
        "flowclientsuspensiontime": null,
        "flowclientsuspensionreasondetails": null,
        "creator": {
          "id": "e82d7ff1-337a-4e63-a34c-9de13137248c",
          "type": "User",
          "tenantId": "dd0eeaf2-2c36-4709-9554-6e2b2639c3d1"
        },
        "provisioningMethod": "FromDefinition",
        "failureAlertSubscription": true,
        "clientLastModifiedTime": "2025-09-10T11:35:56.652252Z",
        "connectionKeySavedTimeKey": "2025-09-10T11:35:56.652252Z",
        "creationSource": "Portal",
        "modifiedSources": "Portal"
      },
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {},
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "invitationCode": {
                  "type": "string"
                },
                "companyName": {
                  "type": "string"
                },
                "registrationNumber": {
                  "type": "string"
                },
                "contactName": {
                  "type": "string"
                },
                "contactTitle": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "phone": {
                  "type": "string"
                },
                "address": {
                  "type": "string"
                },
                "services": {
                  "type": "array"
                },
                "yearsExperience": {
                  "type": "number"
                },
                "teamSize": {
                  "type": "number"
                },
                "coverage": {
                  "type": "string"
                },
                "certifications": {
                  "type": "string"
                },
                "timestamp": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                }
              }
            },
            "triggerAuthenticationType": "All"
          }
        }
      },
      "actions": {
        "Get_items": {
          "runAfter": {},
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://saberrenewables.sharepoint.com/sites/SaberEPCPartners",
              "table": "ae795135-d308-40d0-a2f2-90d66dbf7e2c",
              "$filter": "Code eq '@{triggerBody()?['invitationCode']}'"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition": {
          "actions": {
            "Create_item": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "item/ReferenceNumber": "@concat('EPC-', utcNow('yyyyMMddHHmmss'))",
                  "item/SubmissionDate": "@utcNow()",
                  "item/TradingName": "@triggerBody()?['tradingName']",
                  "item/ProfIndemnity_Present": "@triggerBody()?['professionalIndemnityInsurance']",
                  "item/Willing_To_WorkToSaberTerms": "@triggerBody()?['agreeToTerms']",
                  "item/PrimaryContactPhone": "@triggerBody()?['phone']",
                  "item/PublicProductLiability_Present": "@triggerBody()?['publicLiabilityInsurance']",
                  "item/MarketingConsent": "@triggerBody()?['marketingConsent']",
                  "item/ISOStandards": "@triggerBody()?['isoStandards']",
                  "item/Contracts_ReviewedBySignatory": "@triggerBody()?['contractsReviewed']",
                  "item/Accreditations": "@triggerBody()?['accreditations']",
                  "item/EmployersLiability_Present": "@triggerBody()?['employersLiabilityInsurance']",
                  "item/DataProcessingConsent": "@triggerBody()?['dataProcessingConsent']",
                  "item/PrimaryContactName": "@triggerBody()?['contactName']",
                  "item/Specialisations": "@triggerBody()?['specializations']",
                  "item/AdditionalInfo": "@triggerBody()?['additionalInfo']",
                  "item/Coverage_Nationwide": "@triggerBody()?['nationwideCoverage']",
                  "item/ActsAsPrincipalContractor": "@triggerBody()?['principalContractor']",
                  "item/VATNumber": "@triggerBody()?['vatNumber']",
                  "item/Notes": "@triggerBody()?['notes']",
                  "item/PrimaryContactEmail": "@triggerBody()?['email']",
                  "item/YearsExperience": "@triggerBody()?['yearsExperience']",
                  "item/InvitationCode": "@triggerBody()?['invitationCode']",
                  "item/SubmissionHandled": null,
                  "item/Email": "@triggerBody()?['email']",
                  "item/ProjectsPerMonth": "@triggerBody()?['projectsPerMonth']",
                  "item/Services": "@triggerBody()?['services']",
                  "item/YearsTrading": "@triggerBody()?['yearsTrading']",
                  "item/SoftwareUsed": "@triggerBody()?['softwareTools']",
                  "item/ContactName": "@triggerBody()?['contactName']",
                  "item/Received_ContractOverviewPack": "@triggerBody()?['receivedContractPack']",
                  "item/Coverage": "@triggerBody()?['coverage']",
                  "item/Certifications": "@triggerBody()?['certifications']",
                  "item/CompanyRegNo": "@triggerBody()?['companyRegNo']",
                  "item/RegisteredOffice": "@triggerBody()?['registeredOffice']",
                  "item/MCS_Approved": "@triggerBody()?['mcsApproved']",
                  "item/ActsAsPrincipalDesigner": "@triggerBody()?['principalDesigner']",
                  "item/HeadOffice": "@triggerBody()?['headOffice']",
                  "item/AgreeToCodes": "@triggerBody()?['agreeToCodes']",
                  "item/TeamSize": "@triggerBody()?['teamSize']",
                  "item/ParentCompany": "@triggerBody()?['parentCompany']",
                  "item/CompanyName": "@triggerBody()?['companyName']",
                  "item/SubmissionStatus": "Submitted",
                  "item/Phone": "@triggerBody()?['phone']",
                  "item/NICEIC_CPS": "@triggerBody()?['niceicContractor']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PostItem"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Update_item": {
              "runAfter": {
                "Create_item": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://saberrenewables.sharepoint.com/sites/SaberEPCPartners",
                  "table": "ae795135-d308-40d0-a2f2-90d66dbf7e2c",
                  "id": "@first(body('Get_items')?['value'])?['ID']",
                  "item/Title": "@first(body('Get_items')?['value'])?['Title']",
                  "item/CompanyName": "@triggerBody()?['companyName']",
                  "item/ContactEmail": "@triggerBody()?['email']",
                  "item/Code": "@triggerBody()?['invitationCode']",
                  "item/InvitationSent": false,
                  "item/Used": true,
                  "item/UsedBy": "@triggerBody()?['email']",
                  "item/UsedDate": "@utcNow()"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchItem"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Response": {
              "runAfter": {
                "Update_item": [
                  "Succeeded"
                ]
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "success": true,
                  "message": "Application submitted successfully",
                  "referenceNumber": "@{body('Create_item')?['ID']}"
                }
              }
            },
            "Send_an_email_(V2)": {
              "runAfter": {
                "Send_an_email_(V2)_1": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/To": "SysAdmin@saberrenewables.com;Jess@saberrenewables.com;Rob@saberrenewables.com;gerry@saberrenewables.com",
                  "emailMessage/Subject": "New EPC Application - @{triggerBody()?['companyName']}",
                  "emailMessage/Body": "  <h2>New EPC Application Received</h2>\n  <table border=\"1\">\n  <tbody><tr><td>Company</td><td>@{triggerBody()?['companyName']}</td></tr>\n  <tr><td>Contact</td><td>@{triggerBody()?['contactName']}</td></tr>\n  <tr><td>Email</td><td>@{triggerBody()?['email']}</td></tr>\n  <tr><td>Phone</td><td>@{triggerBody()?['phone']}</td></tr>\n  <tr><td>SharePoint ID</td><td>@{body('Create_item')?['ID']}</td></tr>\n  <tr><td>Code Used</td><td>@{triggerBody()?['invitationCode']}</td></tr>\n  </tbody></table>\n  <p><a href=\"https://saberrenewables.sharepoint.com/sites/SaberEPCPartners/Lists/EPC%20Onboarding\">View in\n  SharePoint</a></p>\n",
                  "emailMessage/Importance": "Normal"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_an_email_(V2)_1": {
              "runAfter": {
                "Response": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "emailMessage/To": "@triggerBody()?['email']",
                  "emailMessage/Subject": "Application Received - @{triggerBody()?['companyName']}",
                  "emailMessage/Body": "  <h2>Thank you for your application!</h2><br>  <p>Dear @{triggerBody()?['contactName']},</p><br>  <p>We have received your application to join the Saber Renewables EPC Partner Network.</p><br>  <h3>Application Details:</h3><br>  <ul><br>  <li><strong>Company:</strong> @{triggerBody()?['companyName']}</li><br>  <li><strong>Reference:</strong> @{body('Create_item')?['ID']}</li><br>  <li><strong>Submitted:</strong> @{utcNow()}</li><br>  </ul><br>  <p>Our team will review your application within 5 business days.</p><br>  <p>Kind regards,<br><br>  Saber Renewables Partner Team</p><br><p></p><br>",
                  "emailMessage/Importance": "Normal"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Response_1": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 400,
                  "body": {
                    "success": false,
                    "message": "Invalid or expired invitation code"
                  }
                }
              }
            }
          },
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(body('Get_items')?['value'])",
                  0
                ]
              }
            ]
          },
          "type": "If"
        }
      },
      "description": ""
    },
    "connectionReferences": {
      "shared_sharepointonline": {
        "connectionName": "shared-sharepointonl-038b749e-d3fc-4c29-b1a7-dcbd63e9350a",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
        "tier": "NotSpecified",
        "apiName": "sharepointonline",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      },
      "shared_office365": {
        "connectionName": "shared-office365-4149f3cb-f5ed-4b42-9670-07a0ec993e6b",
        "source": "Embedded",
        "id": "/providers/Microsoft.PowerApps/apis/shared_office365",
        "tier": "NotSpecified",
        "apiName": "office365",
        "isProcessSimpleApiReferenceConversionAlreadyDone": false
      }
    },
    "flowFailureAlertSubscribed": false,
    "isManaged": false
  }
}
